@tailwind base;
@tailwind components;
@tailwind utilities;


.crop-modal {
    height: auto;
    margin: auto;
    padding: 20px;
    background: white;
    outline: none;
    border-radius: 8px;
}
  
/* Center the overlay */
.crop-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}